
<table class="table table-bordered table-striped table-hoover">
    <tr class="active">
        <th rowspan="2">Název<br></th>
        <th rowspan="2">Autoři<br></th>
        <th colspan="8">Recenze<br></th>
        <th rowspan="2">Rozhodnutí <br></th>
    </tr>
    <tr class="active">
        <th>Recenzent<br></th>
        <th>Orig.<br></th>
        <th>Téma<br></th>
        <th>Tech.<br></th>
        <th>Jaz.<br></th>
        <th>Dop.<br></th>
        <th>Celk.<br></th>
        <th>Vymazat<br></th>
    </tr>
    <tbody>
    </tbody>
</table>