<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h1>Editace příspěvku</h1>
            </div>
        </div>
    </div>

    <form method="POST" id="paperForm" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<?= $article['id'] ?>" />


        <div class="form-group">
            <label for="title">Název příspěvku: </label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Název příspěvku" value="<?= $article['title'] ?>" required/>
        </div>

        <div class="form-group">
            <label for="creators">Autoři: </label>
            <input type="text" class="form-control" name="creators" id="creators" placeholder="Autoři" value="<?= $article['creators'] ?>" required>
        </div>


        <div class="form-group">
            <label for="file">Soubor: </label>
            <input type="file" class="filestyle" data-icon="false" name="file" id="file" accept="application/pdf"  <?php if ($article['file'] == '0') echo 'required'; ?>>
            <input type="hidden" name="MAX_FILE_SIZE" value="10000" />
        </div>

        <div class="form-group">
            <label for="description">Abstrakt: </label>
            <textarea class="form-control" rows="10" name="description" id="description" required><?= $article['description'] ?></textarea>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button class="btn btn-lg btn-primary" type="submit" name="submit">Uložit</button>
            </div>
        </div>
</form>
</div>

<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>


<script type="text/javascript">

    var file = "<?php echo $file['filename']; ?>";

    $('#file').filestyle({
        buttonText : ' Procházet...',
        iconName : 'glyphicon glyphicon-file',
        buttonName : 'btn-warning',
        placeholder : file
    });
</script>


<!-- WYSIWIG editor CKEditor -->
<script>
    CKEDITOR.replace( 'description' );
</script>

<script>
    $(document).ready(function () {
        $("#submitForm").on('click', function() {
            $("#paperForm").submit();
        });
    });
</script>
