<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <div class="error-code m-b-10 m-t-20">404</div>
                <div class="error-details">
                    Chyba 404! Omlouváme se, ale požadovaná stránka nebya nalezena! <!-- <i class="fa fa-warning"></i> -->
                </div>
                <div class="error-actions">
                    <a href="index.php?page=intro" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>
                         Zpátky na domovskou stránku</a>
                </div>
            </div>
        </div>
    </div>
</div>