<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h2>
                <h2>Pokyny pro autory</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-primary">Pokyny pro autory</h2>
            <h3>Jazyk příspěvků</h3>
            <p>Příspěvky mohou být v českém nebo anglickém jazyce.</p>
            <h3>Rozsah příspěvků</h3>
            <p>Maximální povolený rozsah je 10 stran.</p>
            <h3>Odevzdání příspěvku</h3>
            <p>Příspěvek k posouzení, který vyhovuje požadavkům, je třeba odevzdat ve formátu PDF prostřednictvím formuláře dostupném v&nbsp<a href="index.php?login"> <b>Portálu konference</b></a>. Pokud dosud nemáte účet v systému, zřiďte si jej prostřednictvím této stránky.</p>
        </div>
    </div>

</div>
