<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h1><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h1>
                <h2>Vítejte na stránkách konference</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p>Vítejte na stránkách konference! Pokud ještě nemáte vytvořený účet klikněte na tlačítko <b>Portál konference</b> v právém horním rohu a přejděte do sekce vytvořit nový účet.</p>

    <p>Níže je k dispozici seznam všech již uznaných článků. Po kliknutí se zobrazí PDF soubor s článkem.</p>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">Seznam schválených článků</h4>
            <p class="list-group-item-text"></p>
        </a>
        <?php foreach ($articles as $article) : ?>
        <?php if ($article['approved'] == '1') : ?>
        <form method="POST" action="index.php?pdf=<?= $article['title'] ?>.pdf" style="margin: 0;"  >
            <input type="hidden" name="id" value="<?= $article['id'] ?>">
            <button class="list-group-item" onclick="this.form.submit()">
                <h4 class="list-group-item-heading"><?= $article['title'] ?> - <?= $article['author'] ?></h4>
                <p class="list-group-item-text" id="description"><?php echo html_entity_decode($article['description']); ?></p>
            </button>
        </form>
        <?php endif ?>
        <?php endforeach ?>
    </div>
</div>

  