<!DOCTYPE html>
<html>
<head>
    <title>Web Konference</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>

<body>

<!-- Navbar part -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="menu.php"><span class="glyphicon glyphicon-home"></span> Domů</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Registrace</a></li>
                <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Přihlášení</a></li>
            </ul>
        </div>
    </div> <!-- End container -->
</nav> <!-- End navbar -->


<div class="container">
    <div class="page-header">
        <h1>WEB KONFERENCE</h1>
    </div>
    <br>
    <!-- <div class="jumbotron">
        <h1>WEB KONFERENCE</h1>
    </div> -->
    <div class="row-fluid">
        <div class="col-sm-3">
            <div class="well navbar ">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="page/about">O konferenci</a></li>
                    <li role="presentation">
                        <a href="page/topics">Témata</a></li>
                    <li role="presentation">
                        <a href="page/terms">Termíny</a></li>
                    <li role="presentation">
                        <a href="page/organizers">Organizátoři</a></li>
                    <li role="presentation">
                        <a href="page/place">Místo konání</a></li>
                    <li role="presentation">
                        <a href="page/sponsors">Sponzoři</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9">
            <h2 class="text-primary">Pokyny pro autory</h2>
            <h3>Jazyk příspěvků</h3>
            <p>Příspěvky mohou být v českém nebo anglickém jazyce.</p>
            <h3>Rozsah příspěvků</h3>
            <p>Maximální povolený rozsah je 10 stran.</p>
            <h3>Odevzdání příspěvku</h3>
            <p>Příspěvek k posouzení, který vyhovuje požadavkům, je třeba odevzdat ve formátu PDF prostřednictvím formuláře dotupného v  systému WEB-KONF. Pokud dosud nemáte účet v systému, zřiďte su jej prostřednictvím této stránky.</p>
        </div>
    </div>
</div>
</body>


</html>

  