<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span></h2>
                <h2>Organizátoři</h2>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-primary">Organizátoři</h2>
            <p class="text-center">Organizátory konference jsou: </p>
            <h3>Adam Mištera</h3>
            <p class="text-center">email: amistera@students.zcu.cz<br>
            tel.: +420606606606</p>
            <h4>a</h4>
            <h3>Karel Mištera</h3>
            <p class="text-center">email: kmistera@students.zcu.cz<br>
            tel.: +420607606606</p>

            <p>V případě jakýkoliv dotazů se na organizátory neváhejte obrátit. Ke kontaktování využijte uvedené emailové adresy popřípadě telefonní čísla.</p>
        </div>
    </div>

</div>
