<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h2><span class="glyphicon glyphicon-home" aria-hidden="true"></span></h2>
                <h2>Místo konání</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-primary">Místo konání</h2>
            Konference bude probíhat v učebně SP 216 v budově NTIS, kterou lze najít na adrese <b>Technická 2967/14, 306 14 Plzeň 3</b>.
        </div>
    </div>

</div>
