<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h2><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></h2>
                <h2>Sponzoři</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-primary">Sponzoři</h2>
            <p>Konference je sponzorována z darů nezávislých filantropů a neziskových organizací, jejichž seznam bude zveřejněn po skončení konference.</p>
        </div>
    </div>
</div>
