<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h2><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h2>
                <h2>Termíny</h2>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="text-primary">Termíny</h2>
            <h3>Odevzdání příspěvků a přihlášení</h3>
            <p>Přihlášení a odevzdání příspěvků je nutné dokončit do <b>31. 5. 2018</b> včetně! Po tomto datu již nebudou další příspěvky přijímány!</p>
            <h3>Datum konference</h3>
            <p>Konference proběhne mezi pondělím <b>9. 7. 2018</b> až nedělí <b>15. 7. 2018</b>. Kompletní program konference bude zveřejněn nejpozději do 30. 6. 2018!</p>
        </div>
    </div>

</div>

