<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h2><span class="glyphicon glyphicon-book" aria-hidden="true"></span></h2>
                <h2>Témata</h2>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="text-primary">Témata</h2>
            <p>Obsahem konference jsou dvě hlavní témata vypsaná níže.</p>
            <h3>První téma</h3>
            <p>Využití moderních technologií (tablety, smartboardy aj.) při výuce dětí na základních a středních školách v České a Slovenské republice.</p>
            <h3>Druhé téma</h3>
            <p> Druhým tématem je zvýšení počítačové gramotnosti na středních školách a rozšířené výuky informatiky a výpočetní techniky o pokročilé programování pro zájemce.</p>
        </div>
    </div>


</div>
